@{
  Layout = "_Layout";
}

@model BakeryMarketing.Models.Treat

<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>

  @Html.Label("Select existing flavor for this treat:")
  @Html.DropDownList("FlavorId", "Select Flavor")
  <br>

  @Html.Label("Enter an additional flavor for this treat (this will add the flavor to the system):")
  @Html.TextBox("FlavorName")
  <br>

  <input type="submit" value="Add new Treat" />
}