@{
  Layout = "_Layout";
}

@model BakeryMarketing.Models.Treat

<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.Name): </h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>

  @Html.Label("Select existing flavor for this treat:")
  @Html.DropDownList("FlavorId", "Select Flavor")
  <br>

  @Html.Label("Enter an additional flavor for this treat (this will add the flavor to the system):")
  @Html.TextBox("FlavorName")
  <br>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("View all treats", "Index")</p>