@{
  Layout = "_Layout";
}

@model BakeryMarketing.Models.Treat

<h2>Edit</h2>

<h4>Edit @Html.DisplayFor(model => model.Name): </h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId", "Select Flavor")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("View all treats", "Index")</p>