@{
  Layout = "_Layout";
}

@model BakeryMarketing.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>

  @Html.Label("Add this flavor to an existing treat:")
  @Html.DropDownList("TreatId", "Select Treat")
  <br>

  @Html.Label("Enter an additional treat that has this flavor (this will add the treat to the system):")
  @Html.TextBox("TreatName")
  <br>

  <input type="submit" value="Add new flavor" />
}